The following pipeline of image processing steps was selected:
{{ steps_description }}

Briefly explain what each step will do and why this pipeline matches
the request. If any steps appear to be in an unusual or potentially
incorrect order, flag this clearly. Do not write any code.
